.footer-section {
  background-color: #000000;
  padding: 0 35px 0 35px;
  &__contact {
    margin: 0 auto;
  }
  &__h {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 38px;
    padding-bottom: 8px;
  }
  &__div-text {
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    font-family: Roboto, sans-serif;
    color: #B9B9B9
  }
  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 26px;
  }
  &__icon-div {
    margin: 3px;
  }
  &__contact {
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
    padding-bottom: 47px;
  }
  &__contact-a {
    text-align: center;
  }
  .footer-text-block {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer-section__h {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
  }
  .footer-section__div-text {
    font-size: 16px;
    line-height: 28px;
  }
  .footer-text-block {
    display: block;
  }
  .footer-text-block__text {
    color: #B9B9B9;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 28px;
  }
  .footer-section__icon {
    margin-top: 48px;
  }
  .footer-section__contact-a {
    margin-top: 24px;
    padding: 10px;
  }
}
