.navigation-block__main-menu.isActive {
  color: #57a4a4;
}


@media (max-width: 765px) {

  .navigation-block__menu {
    display: unset;
    position: absolute;
    text-transform: uppercase;
    line-height: 22px;
    background-color: #F5F5F5;
    left: -24px;
    width: 50%;
    cursor: pointer;
    color: #4E4E4E;
    margin-left: 50%;
    margin-top: 37px;
    text-align: left;
    -webkit-user-select: none;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    letter-spacing: 1.1px;
  }
  .navigation-block__menu-active {
    display: none;
  }
  .navigation-block__menu-li {
    padding: 3px 0 0 12px;

  }

  .navigation-block__main-menu {
    text-decoration: none;
    color: #4E4E4E;
    line-height: 22px;

  }
  .navigation-block__main-menu .isActive {
    color: #57a4a4;
  }
  .navigation-block__menu-li:hover {
    background-color: #E5E5E5;
  }

}

@media (min-width: 768px) {
  .navigation-block__menu {
    display: flex;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    justify-content: space-evenly;
    padding: 0 55px;
    letter-spacing: 1.1px;
    margin-top: 41px;
  }

  .navigation-block__main-menu {
    text-decoration: none;
    color: #4E4E4E;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .navigation-block__menu {
    padding: 0 180px;
    margin-top: 45px;
    letter-spacing: 1.1px;
  }
}