.recent-posts{

  padding: 0 25px 0 26px;
  &__div{
    display: flex;
  }

  &__h {
    font-size: 11px;
    color: #4E4E4E;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 38px;
  }
  &__img {
    width: 160px;
    margin: 23px 0 11px 0;
  }
  &__text-aenean{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    color: #4E4E4E
  }
  &__text-comments{
    font-family: Roboto, sans-serif;
    font-size: 11px;
    line-height: 20px;
    font-weight: normal;
    color: #7C7C7C;
  }
  &__block{
    display: none;
  }
}
.our-post-img-block {
  display: none;
}
@media (min-width: 480px) {
  .recent-posts-img {
    display: flex;
  }
  .recent-posts-div {
    margin: 21px 0 0 21px;
  }

}



@media (min-width: 768px) {
  .recent-posts {

    padding: 0 55px;

    &__h {
      font-size: 15px;
      line-height: 22px;
      margin-top: 56px;
    }

    &__block {
      display: block;
      font-size: 14px;
      line-height: 26px;
      color: #5C5C5C;
      font-family: Roboto, sans-serif;
      margin-top: 5px;
    }

    .recent-posts-img {
      display: flex;
    }

    .recent-posts-div {
      margin: 21px 0 0 21px;
    }

    &__text-aenean {
      font-size: 16px;
      line-height: 30px;
    }

    &__text-comments {
      font-size: 12px;
      line-height: 20px;
    }

    &__block {
      font-size: 14px;
      line-height: 26px;
    }
    .our-post-img-block {
      display: flex;
    }
  }
}

@media (min-width: 1200px) {
  .recent-posts {
    padding: 0 110px;
  }
  .recent-posts-block {
    display: -webkit-box;
    flex-wrap: wrap;
  }
  .recent-posts-img {
    display: flex;
    width: calc(50% - 10px);
  }
  .our-post-img-block {
    width: calc(50% - 10px);
  }
}
